body {
    background-color: rgb(221, 215, 201);
    font-family: 'Noto Nastaliq Urdu', serif;
}

#mainNavbar {
    background-color: rgb(2, 59, 53);
}

#cardMenu {
    background-color: rgb(193, 179, 168);
    color: rgb(27, 65, 14);

}

#itemMenu {
    background-color: rgb(193, 179, 168);
    color: rgb(27, 65, 14);
}

#buttonMenu {
    background-color: rgb(27, 65, 14);
    color: rgb(193, 179, 168);
}

